body {
    background-image: url('foret.jpg');
}

.h1-contact {
    text-align: center;
    font-size: 3rem;
    color: white
}

.contact-form {
    margin: 3rem auto 0;
    max-width: 30%;
    padding: 0rem 2rem 0.8rem;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 2rem;
    text-align: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input-contact {
    border-radius: 2rem;
    border: none;
    margin-bottom: 1rem;
}
.input-contact::placeholder, textarea::placeholder {
    text-align: center;
}

.label-contact {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.select-contact, .message-contact {
    border-radius: 1rem;
    border:none;
    text-align: center;
    margin-bottom: 1rem;
}

.button-contact {
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: red;
    margin: 1rem 3rem 0 3rem;
}

.button-contact:hover {
    background-color: green;
}